<!DOCTYPE html>
<html>
<head>
  <title><%= if params[:action] != "index" then params[:action].titleize + " | " + Rails.configuration.title else  Rails.configuration.title end %></title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta name="description" content="<%= Rails.configuration.meta[:description][params[:action]] %>">
  <meta name="keywords" content="<%= Rails.configuration.meta[:keywords][params[:action]] %>">
  <%= analytics_init if Rails.env.production? %>
  <script src="https://www.google.com/jsapi"></script>
  <link rel="icon" type="image/ico" href="http://cdn.stoychev.bg/icons/y.ico">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/blueimp-gallery.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
    <body data-target="#year-nav" data-spy="scroll">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=".">Yavor Stoychev</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="dl/resume/Yavor_Stoychev__Resume.pdf" target="_blank"><span class="fa fa-paperclip"> Resume</span></a></li>
                        <%= active_link_to projects_path, :wrap_tag => :li do %>
                            <span class="fa fa-flash"></span> Projects
                        <% end %>
                        <%= active_link_to publications_path, :wrap_tag => :li do %>
                            <span class="fa fa-book"></span> Publications
                        <% end %>
                        <%= active_link_to achievements_path, :wrap_tag => :li do %>
                            <span class="fa fa-certificate"></span> Achievements
                        <% end %>
                        <%= active_link_to travels_path, :wrap_tag => :li do %>
                            <span class="fa fa-send"></span> Travels
                        <% end %>
                   </ul>
                   <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">Public</li>
                                <li class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://blog.stoychev.bg" target="_blank">Personal Blog</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://techblog.stoychev.bg" target="_blank">Tech Blog</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://proxy.stoychev.bg" target="_blank">Web Proxy</a></li>
                                <li role="presentation" class="dropdown-header">Authorized Users</li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://muzika.stoychev.bg" target="_blank">Музика</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://gallery.stoychev.bg" target="_blank">Галерия</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <%= yield %>
        <%= render 'layouts/gallery' %>
        <%= render 'layouts/contact_form'%>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="js/blueimp-gallery.min.js"></script>
    </body>
</html>
